nav {
    padding-left: 20px;
}

/*Styling for Go Back button*/
#back-btn {
    border-radius: 20px;
    float: right;
    margin-right: 20px;
    margin-top: 8px;
    height: 40px;
    vertical-align: baseline;
    line-height: 40px;
}

/*Styling for button on second page*/
#map2 {
    height: 300px;
}

#table-container {
    display: flex;
}

#results {
    width: 100%;
}

tr {
    background-color: #039be5;
}

/*Make title font smaller on smaller screen size*/
@media only screen and (max-width: 600px) {
    #title {
        font-size: 1.25em;
    }
    #back-btn {
        width: 60px;
    }
}