nav {
    padding-left: 20px;
}

#back-btn {
    border-radius: 20px;
    float: right;
    margin-right: 20px;
    margin-top: 50px;
}

#map2 {
    height: 300px;
}

#table-container {
    display: flex;
}

#results {
    width: 100%;
}

tr {
    background-color: #039be5;
}

@media only screen and (max-width: 515px) {
    #title {
        font-size: 1.25em;
    }
}