
nav {
    padding-left: 20px;
}

#main div {
    padding-bottom: 20px;
}

input {
    color: white;
}

.datepicker input {
    color: black;
}

#search-btn {
    border-radius: 20px;
}

#map { 
    height: 300px; 
    width: 500px;
    padding-bottom: 0%;
}

.leaflet-control-ocd-search-form {
   
}

.leaflet-control-ocd-search-form input {
    color: black;
}

