body {
    background-color: #000000;
}
nav {
    padding-left: 20px;
}

#main div {
    padding-bottom: 20px;
}

input {
    color: white;
}

.datepicker input {
    color: black;
}

.datepicker {
    cursor: pointer;
}

/*Update color of month at top of datepicker calender*/

.dropdown-trigger {
    color: #607d8b;
}

#search-btn {
    border-radius: 20px;
}


#location-text {
    pointer-events:none;
}


/*Sets styling for map on homepage*/

#map { 
    height: 300px; 
    width: 100%;
    padding-bottom: 0%;
}

/*Makes map searchbox text black*/
.leaflet-control-ocd-search-form input {
    color: black;
}

/*Make body text smaller on smaller screen size*/
@media only screen and (max-width: 600px) {
    #content h1 {
        font-size: 2em;
    }
}

/*Make title font smaller on smaller screen size*/
@media only screen and (max-width: 515px) {
    #title {
        font-size: 1.25em;
    }
}

